---
import ExperienceItem from "./ExperienceItem.astro";

type Experience = {
  date: string;
  title: string;
  description: string;
};
const EXPEERIENCE: Experience[] = [
  {
    date: "Marzo 2024 - Actualidad",
    title: "Desarrollador Backend",
    description:
      "Desarrollo de una aplicaci贸n web de SaaS de facturaci贸n realizado en el marco de una simulaci贸n laboral de No-Country,",
  },
  {
    date: "Septiembre 2023 - Abril 2024",
    title: "Desarrollador Web Full Stack",
    description:
      "Proyecto integrador realizado en el marco de Digital House.Desarrollo de una aplicaci贸n web.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPEERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
